.sidebar {
    width: 250px;
    position: fixed;
    top: 5px;
    padding-top: 10vh;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #ccc!important;
    }
    
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 220px; /* 180 + 40 */
    }
}

.sidebarLink{
    border: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .875rem 1.25rem;
    text-decoration: none;
    background-color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}
